@import 'tailwindcss';

:root {
  --background: #fff;
  --foreground: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-ubuntu-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), Arial, Helvetica, sans-serif;
}
